h1 {
  font-size:200%;
  font-weight:bolder;
  color:$title-color;
  border-bottom:1px solid $text-shadow-color;
  @include single-text-shadow($text-shadow-color, 2px, 2px, 2px);
}
h2,h3,h4 {
  font-weight:bolder;
  color:$title-color;
  border-bottom:1px solid $text-shadow-color;
  @include single-text-shadow($text-shadow-color, 2px, 2px, 2px);
}
p {
  margin-left:0;
  margin-right:0;
  margin-top:0;
  margin-bottom:8px;
  font-size:105%;
  text-align:left;
  line-height:140%;
}
a {
  @include link-colors($title-color, $detail-color, $detail-color, black);
  @include hover-link;
  @include transition;
  text-decoration:underline;
}
img {
  @include border-radius;
}
hr {
  height:1px;
  padding:0;
  color:$title-color;
  background-color:$title-color;
  border:0;
}
thead th {
  background:transparent;
}
.slideButton {
  width:30px;
  height:8px;
  background:$background-color-banner;
  position:relative;
  float:left;
  top:7px;
  left:2*$padding;
  margin-right:6*$padding;
  @include border-radius;
  @include single-box-shadow(rgba(255,255,255,0.2), 0, 1px, 0); 
  input[type=checkbox] {
    visibility:hidden;
  }
  input[type=checkbox]:checked + label {
    left:18px;
  }
  label {
    display:block;
    width:14px;
    height:14px;
    cursor:pointer;
    position:absolute;
    top:-3px;
    left:-3px;
    @include border-radius(50px);
    @include transition;
    @include single-box-shadow(rgba(0,0,0,0.3), 0, 2px, 5px);
    @include shade; 
  }
}
.new {
  background-color:$new-highlight;
  color:$detail-color;
  display:inline;
  margin-left:$padding;
  margin-right:$padding;
  padding-left:$padding;
  padding-right:$padding;
  @include single-box-shadow($shadow-color, 2px, 2px, 2px); 
  @include border-radius;
}
.asofdate {
  background-color:$background-color-table-header;
  color:$detail-color;
  display:inline;
  margin-left:$padding;
  margin-right:$padding;
  padding-left:$padding;
  padding-right:$padding;
  @include single-box-shadow($shadow-color, 2px, 2px, 2px); 
  @include border-radius;
}
.filter {
  font-size:95%;
}