@font-face {
  font: {
     family:ubuntu;
     weight:normal;
     style:normal;
  }
  src:asset-url('Ubuntu-M.ttf', font) format("truetype");
}
@font-face {
  font: {
     family:ubuntu;
     weight:bold;
     style:normal;
  }
  src:asset-url('Ubuntu-B.ttf', font) format("truetype");
}
@font-face {
  font: {
     family:ubuntu;
     weight:normal;
     style:italic;
  }
  src:asset-url('Ubuntu-LI.ttf', font) format("truetype");
}
@font-face {
  font: {
     family:ubuntu;
     weight:bold;
     style:italic;
  }
  src:asset-url('Ubuntu-BI.ttf', font) format("truetype");
}