<section id="document" class="document">
  <% if @grid.uuid != GRID_UUID %>
    <article id="row-<%= @row.uuid %>"><%= render :partial => "row" %></article>
  <% end %>
  <% unless @attached_grids.nil? or @attached_grids.empty? %>
    <% for attached_grid in @attached_grids %>
      <% filters = attached_grid.get_filters_on_row(@row, @grid.row_title(@row)) %>
      <article id="grid-<%= filters_uuid(attached_grid, filters) %>" style="display: none;"></article>
    <% end %>
  <% end %>
  <%= render :partial => 'navigation' %>
</section>
<section id="dialog" class="dialog float-dialog document" style="display: none;"></section>