<h1 style='text-align: right;'>
  <%= I18n.t('banner.whatis') %>
  <div class="detail-article">
		  <%= I18n.t('banner.copyright') %>
		</div>
</h1>
<div id="notice"><%= I18n.t('banner.introduction') %></div>