<head>
    <title>{{ .appName }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Data structuration, presentation and navigation.">
    <meta name="author" content="David Lambert">
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="/icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" media="screen" href="/quill/quill.snow.css" />
    <link rel="stylesheet" media="screen" href="/stylesheets/encoon.css" />
</head>