<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/quill/quill.min.js"></script>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin="anonymous"></script>
<script type="text/babel" src="/react/index.jsx"></script>
<script type="text/babel" src="/react/grid.jsx"></script>
<script type="text/babel" src="/react/gridView.jsx"></script>
<script type="text/babel" src="/react/gridTable.jsx"></script>