<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ .appName }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<link rel="stylesheet" media="screen" href="/stylesheets/encoon.css" />
	</head>
	<body id="bodyRoot" appName="{{ .appName }}" dbName="{{ .dbName }}" gridUri="{{ .gridUri }}" uuid="{{ .uuid }}">
		<div id="application"></div>
		{{ template "scripts.html" }}
		<script type="text/babel" src="/javascript/notLogged.jsx"></script>
		<script type="text/babel" src="/javascript/loggedIn.jsx"></script>
		<script type="text/babel" src="/javascript/navigation.jsx"></script>
		<script type="text/babel" src="/javascript/index.jsx"></script>
	</body>
</html>