h1 {
  font-size: 160%;
  font-weight: bolder;
  @include single-text-shadow($text-shadow-color, 2px, 2px, 2px);
  .title {
    color: $title-color;
  }
}

h2 {
  font-size: 130%;
  font-weight: bolder;
  @include single-text-shadow($text-shadow-color, 2px, 2px, 2px);
  .title {
    color: $title-color;
  }
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 105%;
  text-align: left;
  font-family: serif;
  line-height: 140%;
}

a {
  @include link-colors($title-color, $detail-color, $detail-color, black);
  @include hover-link;
  @include transition;
  text-decoration: underline;
}

img {
  @include border-radius;
}

ul {
  @include no-bullets;
  padding: 0;
  margin:0;
}

li {
  @include no-bullets;
  padding: 0;
  margin:0;
}

.slideButton {
  width: 30px;
  height: 8px;
  background: $background-color-banner;
  position: relative;
  float: left;
  top: 7px;
  left: 2*$padding;
  margin-right: 6*$padding;
  @include border-radius;
  @include single-box-shadow(rgba(255,255,255,0.2), 0, 1px, 0); 
  input[type=checkbox] {
    visibility: hidden;
  }
  input[type=checkbox]:checked + label {
    left: 18px;
  }
  label {
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;
    @include border-radius(50px);
    @include transition;
    @include single-box-shadow(rgba(0,0,0,0.3), 0, 2px, 5px);
    @include shade; 
  }
}

.information {
  display: inline;
  font-size: 95%;
  background: $background-color;
  color: $title-color;
  img {
    border: 0;
  }
}

.detail {
  display: inline;
  font-size: 95%;
  font-style: italic;
  img {
    border: 0;
  }
}

.small-description {
  display: inline;
  font-size: 95%;
  font-weight: normal;
  img {
    border: 0;
  }
}

.actions {
  font-size: 90%;
  padding: $padding;
  background-color: $background-color-table-header;
  vertical-align: middle;
  @include border-radius;
  .button { 
    display: inline;
    vertical-align: middle;
    @include border-radius;
    margin: $padding;
    padding: $padding;
    a {
      background-color: white;
      text-decoration: none;
      vertical-align: middle;
      padding: $padding;
      @include border-radius;
      @include single-text-shadow($text-shadow-color, 2px, 2px, 2px);
      @include transition;
      &:hover {
        background-color: $title-color;
        color: white;
        text-decoration: none;
      } 
    }
    input {
      font-size: 80%;
      display: inline;
      background-color: $title-color; 
      text-decoration: none;
      padding: $padding;
      margin: $padding;
      color: white;
      border: 0;
      @include border-radius;
      @include single-text-shadow($text-shadow-color, 2px, 2px, 2px);
      @include transition;
      &:hover {
        background-color: black;
        text-decoration: none;
      }
    }
  }
  input {
    display: inline;
    text-decoration: none;
    padding: $padding;
    border: 0;
    margin: 4px;
    @include transition;
    &[type=text] {
      vertical-align: middle;
      width: auto;        
      border-spacing: 0;
    }
    &[type=radio] {
      vertical-align: middle;
      width: auto;        
      border-spacing: 0;
      padding: $padding;
    }
    &[type=checkbox] {
      vertical-align: middle;
      width: auto;        
      border-spacing: 0;
      padding: $padding;
    }
  }
}

.action-header {
  background: $background-color-banner;
  color: $background-color;
  text-align: center;
  font-weight: bolder;
}

.required {
  display: inline;
  color: red;
}

.new {
  font-size: 7pt;
  font-weight: bolder;
  font-style: normal;
  color: black;
  background-color: yellow;
  padding: 2px;
  display: inline;
  @include single-box-shadow($shadow-color, 5px, 5px, 5px); 
  @include border-radius;
}

.filter {
  td {
    border-top: 0;
  }
}

.mini-photo {
 display: inline;
}

.notice {
  @include clearfix;
  margin-bottom: 0;
}

#create-button {
  display: inline;
}