.notice {
  @include clearfix;
  margin-bottom:0;
}
.error {
  @include clearfix;
  margin-bottom:0;
  border-color:$title-color;
}
#error_explanation, .error_explanation {
  color:$title-color;
  h2 {
    display:none;
  }
}
.field_with_errors {
  color:$title-color;
  input, select, textarea {
    border-color:$title-color;
  }
}