.form {
  margin-top: $padding;
  margin-bottom: $padding;
  background-color: $background-color-table-header;
  input {
    border: 1px solid $background-color-table;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    @include transition;
    &:hover { 
      border: 1px solid $background-color-highlights; 
    }
    &[type=text] {
      vertical-align: middle;
      width: auto;        
      border-spacing: 0;
    }
  }
  select {
    vertical-align: middle;
    font-family: $blueprint-font-family;
    margin: 0;
    @include transition;
  }
  textarea {
    border: 1px solid $background-color-table;
    vertical-align: middle;
    font-family: $blueprint-font-family;
    width: auto;        
    height: auto;        
    margin: 0;
    @include transition;
  }
  td {
    border-top: 0;
  }
}