body {
  background: {
    color: $background-color;
  }
}

#banner {
  @include clearfix;
  font-size: 120%;
  width: 100%;
  padding-top: $padding;
  padding-bottom: $padding;
  color: white;
  background: $background-color-banner;
  #header-application {
    @include float-left;
    background: $background-color-banner;
    text-align: left;
    padding-left: 2*$padding;
    font-weight: bolder;
  }
  #header-links {
    @include float-right;
    text-align: right;
    background: $background-color-banner;
    padding-right: 2*$padding;
  }
  .button { 
    display: inline;
    @include border-radius;
    .hightlighted {
      background-color: $background-color-highlights;
      padding: $padding;
      @include border-radius;
    } 
  }
  a {
    @include link-colors(white);
    @include hover-link;
    text-decoration: none;
    padding: $padding;
    @include border-radius;
    @include transition;
    &:hover {
      background-color: $background-color-highlights;
      text-decoration: none;
    }
  } 
  form {
    display: inline;
    input {
      margin: 0;
      padding: 2px;
      border: 0;
      font-size: 80%;
      text-decoration: none;
      text-align: center;
      font-family: $blueprint-font-family;
      @include border-radius;
      @include transition;
      &[type=text] {
        width: auto;        
        border-spacing: 0;
        vertical-align: baseline;
        @include text-shadow;
      }
    }
    select {
      margin: 0px;
      padding: 0;
      border: 0;
      font-family: $blueprint-font-family;
      @include border-radius;
      @include text-shadow;
      @include transition;
    }
  }
  #workspaces {
    @include clearfix;
    width: 100%;
    padding-top: 4*$padding;
    padding-left: 2*$padding;
  }
}

.content1-1 {
  @include float-left;
  width: 100%;
}

.content3-4 {
  @include float-right;
  width: 70%;
}

.sidebar {
  @include float-left;
  width: 30%;
}

.navigator {
  margin-left: 2*$padding;
  margin-right: 2*$padding;
  margin-top: 2*$padding;
  margin-bottom: 2*$padding;
  padding: $padding;
  background-color: $background-color-article;
  .button { 
    display: inline;
    @include border-radius;
    .hightlighted {
      background-color: $background-color-highlights;
      padding: $padding;
      @include border-radius;
    } 
  }
  a {
    @include link-colors(white);
    @include hover-link;
    text-decoration: none;
    padding: $padding;
    @include border-radius;
    @include transition;
    &:hover {
      background-color: $background-color-highlights;
      text-decoration: none;
    }
  } 
}

.document {
  margin-left: 0;
  margin-right: 2*$padding;
  margin-top: 2*$padding;
  margin-bottom: 2*$padding;
  padding: $padding;
  background-color: $background-color-article;
  @include shadow;
  @include border-radius;
  overflow: auto;
}