body {
  background-color: $background-color;
  @include background-image(radial-gradient(10% 50%, adjust-lightness($background-color, 80%) 5%, $background-color));
}

#banner {
  @include clearfix;
  width: 100%;
  padding-top: $padding;
  padding-bottom: $padding;
  color: $color-highlight;
  @include background-image(radial-gradient(60% 30%, adjust-lightness($background-color-banner, 5%) 5%, $background-color-banner));
  background-color: $background-color-banner;
  .button { 
    display: inline;
    @include border-radius;
    .highlighted {
      background-color: $background-color-highlights;
      padding: $padding;
      font-weight: bolder;
      @include border-radius;
    } 
    a {
      @include link-colors($color-highlight);
      @include hover-link;
      @include undecored-link;
      padding: $padding;
      font-weight: bolder;
      @include border-radius;
      @include transition;
      &:hover {
        background-color: $background-color-highlights;
      }
    } 
  }
  #header-application {
    @include float-left;
    font-size: 120%;
    text-align: left;
    padding-left: 2*$padding;
    font-weight: bolder;
  }
  #header-links {
    @include float-right;
    text-align: right;
    padding-right: 2*$padding;
  }
  form {
    display: inline;
    input {
      margin: 0;
      padding: 2px;
      border: 0;
      font-size: 80%;
      text-align: center;
      font-family: $blueprint-font-family;
      @include border-radius;
      @include transition;
      &[type=text] {
        width: auto;        
        border-spacing: 0;
        vertical-align: baseline;
        @include text-shadow;
      }
    }
    select {
      margin: 0px;
      padding: 0;
      border: 0;
      font-family: $blueprint-font-family;
      @include border-radius;
      @include text-shadow;
      @include transition;
    }
  }
  #workspaces {
    @include clearfix;
    width: 100%;
    padding-top: 2*$padding;
    padding-left: 2*$padding;
  }
}

#footer {
  text-align: center;
  font-size: 80%;
}

#main-area {
  @include float-right;
  width: 75%;
}

#navigator {
  @include float-left;
  width: 25%;
}

.tools {
  margin-left: 2*$padding;
  margin-right: 2*$padding;
  margin-top: 2*$padding;
  margin-bottom: 2*$padding;
  color: $color-highlight;
  .article {
    margin-left: $padding;
    margin-right: $padding;
    margin-top: $padding;
    margin-bottom: $padding;
    padding: $padding;
    @include background-image(radial-gradient(60% 30%, adjust-lightness($background-color-navigator-section, 5%) 5%, $background-color-navigator-section));
    background-color: $background-color-navigator-section;
    line-height: 210%;
    @include border-radius;
    a {
      @include link-colors($color-highlight);
    }
  }
  form {
    display: inline;
    input {
      margin: 0;
      padding: 2px;
      border: 1px solid $background-color-table;
      text-align: center;
      font-family: $blueprint-font-family;
      background-color: $background-color-article;
      @include border-radius;
      @include transition;
      &:hover {
        border: 1px solid $background-color-highlights;
      }
      &[type=text] {
        width: auto;        
        border-spacing: 0;
        vertical-align: baseline;
      }
    }
  }
  .button { 
    margin-right: $padding;
    padding: $padding;
    @include border-radius;
    a {
      color: $detail-color;
      @include undecored-link;
      padding: $padding;
      @include link-colors($color-highlight);
      @include border-radius;
      @include transition;
      &:hover {
        background-color: $shadow-color;
        color: $background-color-article;
      }
    } 
  }
  .highlighted {
    background-color: $background-color-highlights;
    color: $background-color-article;
    font-weight: bolder;
    @include border-radius;
    a {
      @include link-colors($color-highlight);
      color: $background-color-article;
    }
  } 
  .slideButton {
    width: 30px;
    height: 8px;
    background: $background-color-banner;
    position: relative;
    float: left;
    top: 7px;
    left: 2*$padding;
    margin-right: 6*$padding;
    @include border-radius;
    @include single-box-shadow(rgba(255,255,255,0.2), 0, 1px, 0); 
    input[type=checkbox] {
      visibility: hidden;
    }
    input[type=checkbox]:checked + label {
      left: 18px;
    }
    label {
      display: block;
      width: 14px;
      height: 14px;
      cursor: pointer;
      position: absolute;
      top: -3px;
      left: -3px;
      @include border-radius(50px);
      @include transition;
      @include single-box-shadow(rgba(0,0,0,0.3), 0, 2px, 5px);
      @include shade; 
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0;
    tr {
      padding: 2px;
      vertical-align: text-top;
    }
    td {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 2px;
      padding-right: 2px;
      vertical-align: text-top;
      text-align: left;
    }
    .header {
      text-align: right;
      width: 33%;
      font-weight: bolder;
    }
  }
}

.document {
  margin-left: 0;
  margin-right: 4*$padding;
  margin-top: 2*$padding;
  margin-bottom: 2*$padding;
  padding: $padding;
  @include background-image(radial-gradient(50% 70%, adjust-lightness($background-color-article, 85%) 5%, $background-color-article));
  background-color: $background-color-article;
  .article {
    margin-left: $padding;
    margin-right: $padding;
    margin-top: $padding;
    margin-bottom: 2*$padding;
    padding: $padding;
    border: 1px dashed transparent;
    @include border-radius;
    @include transition;
    &:hover {
      background: $background-color-table-header;
    }
  }
  .detail-article {
    display: inline;
    font-size: 10px;
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    color: $detail-color;
  }
  .header-article {
    background: $background-color-article-header;
    padding: $padding;
  }
  .header-article-level2 {
    background: $background-color-article-header-level2;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0;
    tr {
      padding: 2px;
      vertical-align: text-top;
      &:hover {
        background: $background-color-table;
      }
    }
    td {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 2px;
      padding-right: 2px;
      vertical-align: text-top;
    }
    .header {
      text-align: right;
      width: 33%;
      font-weight: bolder;
    }
    .string {
      width: 100%;
      text-align: left;
      border-top: 1px solid $background-color-table;
    }
    .date {
      width: 100%;
      text-align: left;
      border-top: 1px solid $background-color-table;
    }
    .number {
      width: 100%;
      text-align: left;
      border-top: 1px solid $background-color-table;
    }
    .boolean {
      width: 100%;
      text-align: left;
      border-top: 1px solid $background-color-table;
    }
    .list-header-string {
      text-align: left;
      font-weight: bolder;
      background-color: $background-color-table-header;
    }
    .list-header-date {
      text-align: center;
      font-weight: bolder;
      background-color: $background-color-table-header;
    }
    .list-header-boolean {
      text-align: center;
      font-weight: bolder;
      background-color: $background-color-table-header;
    }
    .list-header-number {
      text-align: right;
      font-weight: bolder;
      background-color: $background-color-table-header;
    }
    .list-date {
      width: 80px;
      text-align: center;
      border-left: 1px solid $background-color-table;
      border-top: 1px solid $background-color-table;
    }
    .list-number {
      width: 80px;
      text-align: right;
      border-left: 1px solid $background-color-table;
      border-top: 1px solid $background-color-table;
    }
    .list-string {
      text-align: left;
      border-left: 1px solid $background-color-table;
      border-top: 1px solid $background-color-table;
    }
    .list-boolean {
      width: 15px;
      text-align: center;
      border-left: 1px solid $background-color-table;
      border-top: 1px solid $background-color-table;
    }
    .list-description {
      text-align: left;
      border-left: 1px solid $background-color-table;
      border-top: 1px solid $background-color-table;
    }
    .list-information {
      width: 100%;
      text-align: left;
      border-bottom: 0;
    }
    .column-header {
      min-width: 40px;
      max-width: 40px;
      text-align: right;
      vertical-align: middle;
      border-top: 1px solid $background-color-table;
    }
  }
}