body {
  background: {
    color: $background-color;
  }
}

#banner {
  @include clearfix;
  width: 100%;
  padding-top: $padding;
  padding-bottom: $padding;
  color: white;
  @include background-image(radial-gradient(80% 50%, adjust-lightness($background-color-banner, 5%) 5%, $background-color-banner));
  .button { 
    display: inline;
    @include border-radius;
    .hightlighted {
      background-color: $background-color-highlights;
      padding: $padding;
      @include border-radius;
    } 
    a {
      @include link-colors(white);
      @include hover-link;
      text-decoration: none;
      padding: $padding;
      @include border-radius;
      @include transition;
      &:hover {
        background-color: $background-color-highlights;
        text-decoration: none;
      }
    } 
  }
  #header-application {
    @include float-left;
    font-size: 120%;
    text-align: left;
    padding-left: 2*$padding;
    font-weight: bolder;
  }
  #header-links {
    @include float-right;
    text-align: right;
    padding-right: 2*$padding;
  }
  form {
    display: inline;
    input {
      margin: 0;
      padding: 2px;
      border: 0;
      font-size: 80%;
      text-decoration: none;
      text-align: center;
      font-family: $blueprint-font-family;
      @include border-radius;
      @include transition;
      &[type=text] {
        width: auto;        
        border-spacing: 0;
        vertical-align: baseline;
        @include text-shadow;
      }
    }
    select {
      margin: 0px;
      padding: 0;
      border: 0;
      font-family: $blueprint-font-family;
      @include border-radius;
      @include text-shadow;
      @include transition;
    }
  }
  #workspaces {
    @include clearfix;
    width: 100%;
    padding-top: 2*$padding;
    padding-left: 2*$padding;
  }
}

#footer {
  text-align: center;
  font-size: 80%;
}

.content1-1 {
  @include float-left;
  width: 100%;
}

.content3-4 {
  @include float-right;
  width: 70%;
}

.sidebar {
  @include float-left;
  width: 30%;
}

.navigator {
  margin-right: 2*$padding;
  margin-top: 2*$padding;
  margin-bottom: 2*$padding;
  opacity: 0.80;
  form {
    display: inline;
    input {
      margin: 0;
      padding: 2px;
      border: 1px solid $background-color-table;
      font-size: 80%;
      text-decoration: none;
      text-align: center;
      font-family: $blueprint-font-family;
      @include border-radius;
      @include transition;
      &:hover {
        border: 1px solid $background-color-highlights;
      }
      &[type=text] {
        width: auto;        
        border-spacing: 0;
        vertical-align: baseline;
        @include text-shadow;
      }
    }
  }
  .button { 
    @include border-radius;
    .hightlighted {
      background-color: $background-color-highlights;
      padding: $padding;
      color: $background-color-article;
      @include border-radius;
      a {
        color: $background-color-article;
      }
    } 
    a {
      color: $detail-color;
      text-decoration: none;
      padding: $padding;
      @include border-radius;
      @include transition;
      &:hover {
        background-color: $background-color-highlights;
        color: $background-color-article;
        text-decoration: none;
      }
    } 
  }
}

.document {
  margin-left: 0;
  margin-right: 2*$padding;
  margin-top: 2*$padding;
  margin-bottom: 2*$padding;
  padding: $padding;
  background-color: $background-color-article;
  @include shadow;
  @include border-radius;
  overflow: auto;
}