#header-application {
  padding-left:8*$padding;
  background: {
    image:url(/system/icon/7d647930-ef79-012f-2349-4417fe7fde95/icon.png);
    position:left top;
    repeat:no-repeat;
    size:contain;
  }
}
.add-button a {
  padding-left:8*$padding;
  background: {
    image:url(/system/icon/7d647930-ef79-012f-2349-4417fe7fde95/add.png);
    position:left top;
    repeat:no-repeat;
    size:contain;
  }
}
.history-button a {
  padding-left:8*$padding;
  background: {
    image:url(/system/icon/7d647930-ef79-012f-2349-4417fe7fde95/history.png);
    position:left top;
    repeat:no-repeat;
    size:contain;
  }
}
.search-button a {
  padding-left:8*$padding;
  background: {
    image:url(/system/icon/7d647930-ef79-012f-2349-4417fe7fde95/search.png);
    position:left top;
    repeat:no-repeat;
    size:contain;
  }
}
.edit-button a {
  padding-left:8*$padding;
  background: {
    image:url(/system/icon/7d647930-ef79-012f-2349-4417fe7fde95/edit.png);
    position:left top;
    repeat:no-repeat;
    size:contain;
  }
}