<article>
  <%= form_tag refresh_path do %>
    <span class="<%= warning_current_date(session[:as_of_date]) %> button highlighted">
      <%= t('field.asof_date') %>
    </span>
    <%= text_field_tag :as_of_date, I18n.l(session[:as_of_date]), :size => "10x1", :onchange => 'this.form.submit()' %>
  <% end %>
</article>