<article>
  <%= form_for :home, :url => refresh_path do |f| %>
    <span class="<%= warning_current_date(session[:as_of_date]) %> button highlighted">
      <%= t('field.asof_date') %>
    </span>
    <%= f.text_field 'session_date',
                     :size => "10x1",
                     :type => "date",
                     :value => I18n.l(session[:as_of_date]),
                     :onchange => 'this.form.submit()' %>
  <% end %>
</article>