<% if flash[:notice] %>
  <section class='notice'>
    <%= icon('information') %>
    <%= flash[:notice] %>
  </section>
<% end %>
<% if flash[:alert] %>
  <section class='error'>
    <%= icon('exclamation') %>
    <%= flash[:alert] %>
  </section>
<% end %>