<% if user_signed_in? and session[:history_table].present? %>
  <article>
    <span id="history-title" class="button history-button">
      <a id="history-label"><%= t 'banner.history' %></a>
    </span>
    <div class="slideButton">
      <input type="checkbox" id="history-button" <%= session[:show_history] ? 'checked' : '' %> />
      <label for="history-button"></label>
    </div>
    <section id="history-content" style="display: none;"></section>
  </article>
<% end %>