<section id="history">
  <article class="article">
    <span class="button">
      <span class="hightlighted">
        <input type="checkbox" id="button_history" /><label for="button_history"><%= icon('history') + ("&nbsp;" + I18n.t('banner.history')).html_safe %></label>
      </span>
    </span>
    <section id="history-content"></section>
  </article>
</section>

<script>
  $("#button_history").click(function (event){
    if ($(this).attr('checked')) {
      $("#history-content").html("<%= escape_javascript(display_loading) %>");
      $("#history-content").show();
      $("#history-content").load("<%= url_for(:controller => '/home', :action => "history") %>");
    } 
    else {
      $("#history-content").hide();
    }
  });
</script>