<% if user_signed_in? and session[:history_table].present? %>
  <article>
    <span id="history-title" class="button">
      <%= icon('history') + ("&nbsp;" + t('banner.history')).html_safe %>
    </span>
    <div class="slideButton">
      <input type="checkbox" id="history-button" <%= session[:show_history] ? 'checked' : '' %> />
      <label for="history-button"></label>
    </div>
    <section id="history-content" style="display: none;"></section>
  </article>
<% end %>