<div id="show-navigator" class="slideButton">
  <input type="checkbox" id="navigator-button" <%= session[:hide_navigator] ? '' : 'checked' %> />
  <label for="navigator-button"></label>
</div>
<nav>
  <% unless @workspaces.nil? %>
    <% first = true %>
    <% for row in @workspaces %>
      <% if first %>
        <% first = false %>
      <% else %>
        <span class="separator">|</span>
      <% end %>
      <span class="button" title="<%= row.description.html_safe %>">
          <%= link_to_unless_current(
                row.name.html_safe,
                show_workspace_path(:workspace => row.display_uri)) do |name| %>
            <span class="highlighted"><%= name %></span>
          <% end %>
      </span>
    <% end %>
  <% end %>
</nav>